/Cholesky.class
/CholeskyDecomposition.class
/EigenvalueDecomposition.class
/GaussjNR.class
/LUDecomposition.class
/LinearSearch.class
/LudcmpNR.class
/Mat.class
/Maths.class
/Matrix.class
/MinimizedFunctionInterface.class
/QRDecomposition.class
/SingularValueDecomposition.class
